body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('image.jpg') no-repeat center center/cover;
   
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    width: 300px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: white;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 30px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.step.active, .step:hover {
    background-color: rgb(85, 160, 85);
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
    animation: slideIn 0.5s ease;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transition: all 0.3s ease;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(48, 66, 48);
}

.success-message {
    display: none;
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
